@page "/user/create"
@using System.ComponentModel.DataAnnotations
@using ITSMDS.Web.ViewModel
@inject IConfiguration Configuration
@inject IJSRuntime JS

<h4 class="text-center mb-4">👤 ساخت کاربر جدید</h4>

<div class="container mt-5">
    <div class="card shadow-sm border-0 rounded-4">
        <div class="card-header bg-primary text-white rounded-top-4">
            <h5 class="mb-0"><i class="fas fa-user-plus me-2"></i> ساخت کاربر جدید</h5>
        </div>

        <div class="card-body">
            <form id="userForm">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">نام</label>
                        <input name="FirstName" class="form-control rounded-3" />
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">نام خانوادگی</label>
                        <input name="LastName" class="form-control rounded-3" />
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">نام کاربری</label>
                        <input name="UserName" class="form-control rounded-3" />
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">IP</label>
                        <input name="ipAddress" class="form-control rounded-3" />
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">ایمیل</label>
                        <input name="Email" type="email" class="form-control rounded-3" />
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">رمز عبور</label>
                        <input name="Password" type="password" class="form-control rounded-3" />
                    </div>


                    <div class="col-md-6">
                        <label class="form-label">کد پرسنلی</label>
                        <input name="PersonalCode" type="number" class="form-control rounded-3" />
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">شماره تماس</label>
                        <input name="PhoneNumber" type="number" class="form-control rounded-3" />
                    </div>

                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-success w-100 rounded-pill">
                            <i class="fas fa-check-circle me-2"></i> ثبت اطلاعات
                        </button>
                    </div>
                </div>
            </form>
            
            <div id="result" class="alert alert-success mt-3 text-center rounded-3 d-none"></div>
        </div>
    </div>
</div>


@code {
    private string? apiUrl;

    protected override void OnInitialized()
    {

        apiUrl = Configuration.GetSection("BaseAddress").Value!;
    }

    private async Task SubmitWithJs()
    {
        await JS.InvokeVoidAsync("submitForm", apiUrl);
    }
}