
@page "/"
@using ITSMDS.Web.Components.Pages.Auth
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="user-info">
            <span>سلام, @context.User.Identity.Name!</span>
            <button class="btn btn-link" @onclick="Logout">خروج</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="/login">ورود</a>
    </NotAuthorized>
</AuthorizeView>

@code{

    [Inject]private AuthApiClient AuthService { get; set; }
    [Inject] AuthenticationStateProvider AuthStateProvider { get; set; }
    @inject IJSRuntime JS
    private async void Logout()
    {
        // پاک کردن توکن
        Navigation.NavigateTo("/", true);
    }


}