@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase

@inject NavigationManager Navigation

<AuthorizeView>
    <NotAuthorized>
        @if (!isChecking)
        {
            @NavigateToLogin()
        }
    </NotAuthorized>
    <Authorized>
        @Body
    </Authorized>
</AuthorizeView>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    private bool isChecking = true;

    protected override async Task OnInitializedAsync()
    {
        // کمی تاخیر تا AuthStateProvider مقداردهی بشه
        await Task.Delay(100);
        isChecking = false;
    }

    private RenderFragment NavigateToLogin() => builder =>
    {
        Navigation.NavigateTo("/login");
    };
}