<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/sweetalert2.min.css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ITSMDS.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/js/api.js"></script>
    <script type="module" src="/js/customVariable.js"></script>
    <script src="/js/sweetalert2@11.js"></script>
    <script src="/js/chart.umd.js"></script>
    <script src="/js/chartjs-plugin-datalabels.min.js"></script>
    <script src="/js/Sortable.min.js"></script>
    <script src="_content/Blazor.Bootstrap/blazor.bootstrap.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
